html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(./Bilder/Picture1.png);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

table {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

.fill {
    height: 35px;
    width: 150px;
    border-radius: 16px;
    padding: 8px;
}

.ntc {
    color: black;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
    font-size: 400%;
    font-weight: 500;
}

.ntc2 {
    color: black;
    text-align: center;
    font-size: 150%;
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: 500;
}

.button {
    height: 35px;
    width: 250px;
    border-radius: 16px;
    background-color: rgb(212, 175, 55);
    margin-bottom: 50px;
}

#text {
    border-radius: 16px;
    width: 350px;
    padding: 8px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(212, 175, 55);
}

a {
    text-decoration: none;
}

.formular {
    text-align: left;
}

.daten {
    height: 35px;
    width: 300px;
    border-radius: 16px;
    margin: 5px;
    padding: 5px;
}

body#ueberweisung {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(./Bilder/onlinebanking.jpg);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body#registrieren {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(./Bilder/Picture1.png);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#col {
    width: 420px;
}
#click {
    width: 150px;
}
#transaktion {
    margin-left: 20px;
    border-style: solid;
    border-radius: 8px;

}
#transpurpose {
    padding-left: 15px;
    padding-right: 20px;
    width: 150px;
    text-align: left;
    padding-top: 0px;
}
#transreceipent {
    padding: 5px;
    padding-right: 20px;
    width: 150px;
    text-align: left;
    padding-top: 0px;
    font-weight: bold;
}
#transvalue {
    padding-right: 5px;
    width: 150px;
    text-align: right;
    padding-top: 0px;
}
  
  .wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
  }
  
  header {
    background: #3e474f;
    box-shadow: 0 0.5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
  }
  
  header label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 4.25em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
  }
  
  header label:hover {
    background: #2e353b;
  }
  
  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.75s;
  }
  
  .slide-one {
    background-image: url(./Bilder/first.png);
  }
  
  .slide-two {
    background-image: url(./Bilder/second.png);
  }
  
  .slide-three {
    background-image: url(./Bilder/apple.png);
  }
  
  .slide-four {
    background-image: url(./Bilder/finanzmarkt.png);
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  
  .slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s 0.5s, opacity 0.5s;
  }
  
  [id^="slide"]:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s 0.5s;
  }